src/components/**/*.js
src/components/**/*.jsx
src/components/version/token.tsx
!src/components/*/__tests__/**/*.js
!src/components/*/demo/*.md
!.*.js
~*
es/**/*
lib/**/*
locale
server
.dumi/tmp
.dumi/tmp-production
!.dumi/
node_modules
.eslintcache
_site
dist
coverage
**/*.d.ts
# Scripts
scripts/previewEditor/**/*
jest-stare
vite.config.ts
.eslintrc.cjs
jest.config.cjs
postcss.config.cjs
