.overview {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;

  .info {
    margin-top: 10%;
    text-align: center;

    .title {
      font-size: 32px;
    }

    .sub-title {
      font-size: 24px;
    }
  }

  .controller {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 8%;
    min-height: 40px;
  }

  .content {
    flex: 1;
  }
}
