.code-editor {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;

  border: 1px solid red;

  .controller {
    padding: 8px 12px 8px 30px;
  }

  .content {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    .editor,
    .preview {
      height: 100%;
    }

    .editor {
      overflow: hidden;
      flex: 1;
    }

    .preview {
      flex: 1;
      overflow: hidden auto;

      pre {
        height: 100%;
      }
    }
  }


}
