:root,
html,
body,
#root,
.root,
.app,
.layout {
  height: 100%;
}

#root {
  overflow: hidden;
}

.ant-pro-layout {
  background: red;

  .ant-layout {
    height: 100%;

    .ant-pro-layout-container {
      height: 100%;
    }
  }
}
