$background-all-property-name-list: (
  'background-image',
  'background-color',
  'background-repeat',
  'background-attachment',
  'background-position',
  'background-size',
  'background-clip',
  'background-blend-mode',
  'background-origin'
);
$background-default-image: '' !default;
$background-default-color: transparent !default;
$background-default-repeat: no-repeat !default;
$background-default-attachment: fixed !default;
$background-default-position: center !default;
$background-default-size: 100% 100% !default;
$background-default-clip: border-box !default;
$background-default-blend-mode: normal !default;
$background-default-origin: padding-box !default;
$background-default-params: (
  'url': $background-default-image,
  'color': $background-default-color,
  'repeat': $background-default-repeat,
  'attachment': $background-default-attachment,
  'position': $background-default-position,
  'size': $background-default-size,
  'clip': $background-default-clip,
  'mode': $background-default-blend-mode,
  'origin': $background-default-origin,
);
$background-default-params-key-map: (
  'url': 'image',
  'mode': 'blend-mode',
);

@function getBackgroundPropertyName(
  $suffix,
  $prefix: 'background',
  $key-map: $background-default-params-key-map
) {
  $property-name: #{$prefix}-#{$suffix};

  @if map-has-key($key-map, $suffix) {
    $property-name: #{$prefix}-#{map-get($key-map, $suffix)};
  }

  @return $property-name;
}

@mixin background($background-params: $background-default-params) {
  @if type-of($background-params) == string {
    @each $key, $val in $background-default-params {
      $property-name: getbackgroundpropertyname($key);

      @if (
        index($background-all-property-name-list, $property-name) !=
          null and
          $property-name !=
          'background-image'
      ) {
        #{$property-name}: map-get($background-default-params, $key);
      } @else {
        background-image: url($background-params);
      }
    }
  } @else if type-of($background-params) == map and length($background-params) > 0 {
    @each $key, $val in $background-default-params {
      $property-name: getbackgroundpropertyname($key);

      @if index($background-all-property-name-list, $property-name) != null {
        @if map-has-key($background-params, $key) {
          @if $property-name == 'background-image' {
            $property-value: map-get($background-params, $key);

            #{$property-name}: url($property-value);
          } @else {
            #{$property-name}: map-get($background-params, $key);
          }
        } @else {
          #{$property-name}: map-get($background-default-params, $key);
        }
      }
    }
  }
}
