$container-default-margin: 0;
$container-default-padding: 0;
$container-default-height: 100%;

/**
 * 用于设置容器层样式
 */

@mixin make-container(
  $overflow: hidden,
  $margin: $container-default-margin,
  $padding: $container-default-padding,
  $height: $container-default-height
) {
  width: 100%;
  height: $height;
  padding: $padding;
  margin: $margin;
  overflow: $overflow;
}
