$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$blue: #0d6efd !default;
$purple: #6f42c1 !default;
$red: #dc3545 !default;
$white: #fff !default;


// 水平渐变( 默认: 灰色 700 到灰色 800 ）
@mixin gradient-x(
  $start-color: $gray-700,
  $end-color: $gray-800,
  $start-percent: 0%,
  $end-percent: 100%
) {
  background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent);
}

// 垂直渐变( 默认: 灰色 700 到灰色 800 ）
@mixin gradient-y(
  $start-color: $gray-700,
  $end-color: $gray-800,
  $start-percent: 0%,
  $end-percent: 100%
) {
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
}

// 自定义角度渐变( 默认: 角度：45deg ）
@mixin gradient-directional(
  $start-color: $gray-700,
  $end-color: $gray-800,
  $deg: 45deg
) {
  background-image: linear-gradient($deg, $start-color, $end-color);
}

// 水平渐变三色( 默认: 蓝色，紫色和红色，50% 色停 ）
@mixin gradient-x-three-colors(
  $start-color: $blue,
  $mid-color: $purple,
  $color-stop: 50%,
  $end-color: $red
) {
  background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
}

// 垂直渐变三色( 默认: 蓝色，紫色和红色，50% 色停 ）
@mixin gradient-y-three-colors(
  $start-color: $blue,
  $mid-color: $purple,
  $color-stop: 50%,
  $end-color: $red
) {
  background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
}

// 径向渐变( 默认: 灰色 700 到灰色 800 ）
@mixin gradient-radial(
  $inner-color: $gray-700,
  $outer-color: $gray-800
) {
  background-image: radial-gradient(circle, $inner-color, $outer-color);
}

// 条纹渐变( 默认: 白色 15% 透明，45deg 角度 ）
@mixin gradient-striped(
  $color: rgba($white, .15),
  $angle: 45deg
) {
  background-image: linear-gradient($angle, $color 25%, transparent 25%, transparent 50%, $color 50%, $color 75%, transparent 75%, transparent);
}
