:root,
html,
body {
  height: 100%;
}

#root,
.root,
#app,
.app,
#layout,
.layout {
  height: 100%;
  overflow: hidden;
}

.ant-pro-layout {

  .ant-layout {
    height: 100%;

    .ant-pro-layout-container {
      height: 100%;
    }
  }
}

.full-height {
  height: 100%;
}
