.layout {
  height: 100%;

  .header {
    overflow: hidden;
    padding: 0;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #eee;

    &-content {

      &-l {
        cursor: pointer;

        .logo {
          margin-right: 8px;
        }

        .title {
        }

        .divider {
          height: 28px;
          margin: 0 24px;
        }
      }

      &-r {
        //padding-right: 24px;

        .avatar {
          cursor: pointer;
        }
      }
    }
  }

  .body {

    .aside {
      position: relative;
      cursor: pointer;

      .collapsed {
        position: absolute;
        top: 50%;
        right: -23px;
        transform: translate(-50%, -50%);
        background: #fff;
        height: 32px;
        line-height: 32px;
        border-left: 1px solid #f4f4f4;
        border-radius: 0 3px 3px 0;
      }
    }

    .content {

      .bread-crumbs {
        padding: 16px;
      }

      .children {

      }

      .footer {

      }

    }

  }
}
